/* basic */
*{margin:0;padding:0px;}
body{
    font:1em "MircoSoft YaHei";
    width:100%;
}
header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    text-indent: 0.7em;
    font-size:1.4em;
    line-height:2em;
    height:2em;
    box-shadow:1px 1px 1px rgba(12, 12, 12, 0.5);
    background-color:#FFF;
    font-family:Courier New;
    font-style:italic;
}
header a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
main{
    height:100%;
    margin:2em 0em;
    padding:1em;
}
main h1{
    font-size:2em;
    line-height:2em;
}
main h2{
    font-size:1.6em;
    line-height:2em;
}
main h3{
    font-size:1.4em;
    line-height:2em;
}
main h4{
    font-size:1.2em;
    line-height:2em;
}
main p{
    font-size:1em;
    line-height:2em;
}
main ul,main ol{
    font-family:Helvetica Neue;
    padding-left:2em;
}
main ul li,main ol li{
    line-height:1.4em;
}
main pre{
    width:100%;
    overflow-x:scroll;
}
main pre code{
    line-height:1.4em;
}
footer{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    box-shadow:-1px -1px 1px rgba(12, 12, 12, 0.5);
    text-align:center;
    line-height:1.6em;
    height:1.6em;
    font-size:1em;
    font-family:Courier New;
    background-color:#FFF;
}

.loading{
    z-index:1000;
    height:100%;
    background:url(../images/load.gif) no-repeat center center;
    background-size:5em;
}
.sayphp-tag{
    padding-top:1em;
    list-style:none;
    font-size:1em;
    line-height:2em;
}
.sayphp-tag a{
    padding:0.2em;
    margin:0.2em;
    font-size:1.4em;
    font-family:Courier New;
    cursor: pointer;
    line-height:2em;
    color:rgb(255, 255, 255);
    background-color:rgb(70, 130, 180);
    border:0.1em solid rgb(70, 130, 180);
    box-shadow:0.2em 0.2em 0.1em rgba(70, 130, 180, 0.5);
}
.sayphp-list{
    margin-top:1em;
    list-style:none;
    font-size:1.4em;
    padding-left:0em;
}
.sayphp-list li{
    cursor:pointer;
    border-bottom:1px solid rgba(12, 12, 12, 0.5);
    line-height:2em;
}
.sayphp-list li:hover{
    color:rgb(255, 255, 255);
    background-color:rgb(70, 130, 180);
    transition:color 0.5s ease-in, background-color 0.8s ease-in;
}

table{
    margin:1em;
    border-collapse:collapse; 
}
table th, table td{
    padding:0.5em;
    border:1px solid #ccc;
}
table tr:nth-child(2n){
    background-color:#f8f8f8;
}
